<div class="qal-slogan mb-3" id="content">
  <div class="container-xxl px-4 px-md-3">
    <div class="col-md-8 mx-auto text-center">
      <img src="/brand/logo.svg" width="175" height="145" alt="Silcrow" class="d-block mx-auto mb-4">
      <h1 class="mb-3 fw-semibold">Qnarre - Quick Narrative Analyzer</h1>
      <p class="lead mb-4">Seeking out contradictions and inconsistencies in deceitful text with ever-adapting, fluidly learning, yet still reproducible systems is exactly what machine learning could have been invented for.</p>
      <div class="d-flex flex-column flex-lg-row align-items-md-stretch justify-content-md-center">
        <a href="/story/" class="btn btn-lg btn-qal-primary mb-3 me-md-3">The Story</a>
        <a href="https://femfas.net/pleading/d22_06_02/" class="btn btn-lg btn-outline-secondary mb-3">Motivation</a>
      </div>
      <p class="text-muted mb-0">
        Version <strong>{{ .Site.Params.version }}</strong>
      </p>
    </div>
  </div>
</div>
